:root {
    --body-copy: 14px;
    --page-spacing: 20px;
    --page-margin: 10px;
    --main-heading: calc(var(--body-copy) * 1)
    
}

@media (min-width: 860px) {
    :root {
        --body-copy: 16px;
        --page-spacing: 20px;

        margin-bottom: 20px;
        min-width: 860px;
        max-width:1000px;
        margin: auto;
        --main-heading: calc(var(--body-copy) * 1)

    }


}


.quote {
    padding-top: 40px ; 
    padding-bottom: 40px; 
    color: 
}

body {
    font-family: sans-serif;
    font-size: var(--body-copy);
    background-color:#F6F6F5;
}

body > * {
    padding: var(--page-spacing);
}

h1 {
font-size: var(--main-heading);
padding-top: 10px;
padding-bottom: 10px;
}


.footnotes {
    border: 1px;
    display: grid;
    grid-template-columns:5% 90%;
    text-align: left;
    
}
.head {
    display: grid;
    background-color:#E6E6F8 ;
}

