:root {
    --body-copy: 16px;
    line-height: 1.6;
    --page-spacing: 20px;
    --page-margin: 0px;
    --main-heading: calc(var(--body-copy) * 1)

}


@media (min-width: 825px) {
    :root {
        --body-copy: 19px;
        --page-spacing: 20px;
        line-height: 1.8;
        margin-bottom: 20px;
        max-width:825px;
        margin: auto;
        --main-heading: calc(var(--body-copy) * 1)
    }
}


.intro {
    padding-top: 40px ; 
    padding-bottom: 40px; 
    color: #EE82EE;
    border-bottom:   1px solid black;

}




body {
    font-family: 'Source Serif Pro', serif;
    font-size: var(--body-copy);
    letter-spacing: .1rem;
    background-color: #F5F5F5	;
    border: 1px solid black;
    border-top: 0px;

}

body > * {
    padding: var(--page-spacing);
}

h1 {
font-size: var(--main-heading);
padding-top: 10px;
padding-bottom: 10px;
}


.footnotes {
    border: 1px;
    display: grid;
    grid-template-columns:5% 90%;
    text-align: left;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    margin-top: 80px;
    margin-bottom: 0px;

    
}
.head {
    background-color:#EE82EE ;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
 

}




.flex-container {
display: flex;
flex-wrap: wrap;
text-align: center;
padding-bottom: 40px;
padding-top: 40px;
border-bottom: 1px solid black;
margin-bottom:20px;
}


.box1 {
 padding: 10px;
flex: 50
}

.box2 {
 padding: 10px;
 flex: 50
}

.box3 {
padding: 10px;
flex: 50
}

@media (max-width: 414px) {
    .box1, .box2, .box3 { flex: 100%;}  
}

a:link {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    color:#706070;
  }

  sup {
    vertical-align: super;
    font-size: small;
  }

  .top {
    --offset: 50px; 
    
    position: sticky;
    bottom: 20px;      
    margin-right:10px; 
    place-self:  ;
    margin-top: calc(100vh + var(--offset));
  
    text-decoration: none;
    padding: 10px;
    font-family: 'Source Serif Pro', serif;
    text-decoration: #EE82EE;
    color:white;
    background: #EE82EE;
    border-style: solid; 
    border-color: black;
    border-width: 1px;

    white-space: nowrap;
  }



mark {
    background-color: #ffd8ff;

}




















@keyframes typewriter {
    0%, 100% {
      width: 0;
    }
    20%, 80% {
      width: 100%;
    }
  }
  
  @keyframes caret {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  .typewriter {
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter;
    display: inline-block;
    position: relative;
    animation-duration: 10s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
  }
  
  
  .typewriter::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
  }




  
  