:root {
    --body-copy: 12px;
    --page-spacing: 20px;
    --page-margin: 0px;
    --main-heading: calc(var(--body-copy) * 1)

}



@media (min-width: 800px) {
    :root {
        --body-copy: 19px;
        --page-spacing: 20px;
        line-height: 1.8;
        margin-bottom: 20px;
        max-width:800px;
        margin: auto;
        --main-heading: calc(var(--body-copy) * 1)
    }
}


.intro {
    padding-top: 40px ; 
    padding-bottom: 40px; 
    color: #EE82EE;
}

body {
    font-family: 'Source Serif Pro', serif;
    font-size: var(--body-copy);
    letter-spacing: .1rem;
    background-color: #F5F5F5	;
}

body > * {
    padding: var(--page-spacing);
}

h1 {
font-size: var(--main-heading);
padding-top: 10px;
padding-bottom: 10px;
}


.footnotes {
    border: 1px;
    display: grid;
    grid-template-columns:5% 90%;
    text-align: left;
    
}
.head {
    background-color:#EE82EE ;
    text-align: center;
}


.flex-container {
display: flex;
flex-wrap: wrap;
text-align: center;
padding-bottom: 40px;
padding-top: 40px;
}

.box1 {
 padding: 10px;
flex: 50
}

.box2 {
 padding: 10px;
 flex: 50
}

.box3 {
padding: 10px;
flex: 50
}

@media (max-width: 414px) {
    .box1, .box2, .box3 { flex: 100%;}  
}

